<div class="pt-5" id="contact">
    <div class="container pt-5">
        <div class="row pt-5">
            <div class="contact-left pt-5">
                <h1 class="sub-title">Contact Me</h1>
                <p><i class="fa-solid fa-paper-plane"></i> inforishi1107@gmail.com</p>
                <p><i class="fa-solid fa-square-phone"></i> +91 7646086573</p>
            </div>
            <div class="contact-right">
                <form name="submit-to-google-sheet">
                    <input type="text" name="Name" placeholder="Your Name" required>
                    <input type="email" name="Email" placeholder="Your Email" required>
                    <textarea name="Message" rows="6" placeholder="Your Message"></textarea>
                    <button type="submit" class="btn btn2">submit</button>
                </form>

                <span id="msg"></span>
            </div>
        </div>
    </div>

</div>