<div class="pb-5" id="about">
    <div class="container pt-5">
        <div class="row">
            <div class="about-col-1">
                <img src="https://media.sproutsocial.com/uploads/2022/06/profile-picture.jpeg">
            </div>
            <div class="about-col-2">
                <h1 class="sub-title">Rishabh</h1>
                <p>Passionate Front-End Developer with a knack for crafting visually stunning, intuitive user
                    interfaces. Proficient in modern web technologies including HTML5, CSS3, JavaScript, and
                    frameworks like React and Angular. A creative problem-solver dedicated to delivering seamless,
                    user-centric experiences. Eager to leverage expertise in front-end development to bring
                    innovative digital solutions to life.</p>

                <div class="tab-titles">
                    <p class="tab-links active-link" onclick="opentab('skills')">Skills</p>
                    <p class="tab-links" onclick="opentab('experience')">Experience</p>
                    <p class="tab-links" onclick="opentab('education')">Education</p>
                </div>

                <div class="tab-contents active-tab" id="skills">
                    <ul>
                        <li><span>Web Development</span><br>Web app Development</li>
                        <li><span>React & Angular</span><br>Front-end Frameworks of JavaScript</li>
                        <li><span>Python</span><br>Game Development</li>
                        <li><span>Java</span><br>Android Development</li>

                    </ul>
                </div>

                <div class="tab-contents" id="experience">
                    <ul>
                        <li><span>September 2023 - Current</span><br>Project Intern at CDAC, Mohali</li>
                    </ul>
                </div>

                <div class="tab-contents" id="education">
                    <ul>
                        <li><span>2023</span><br>Web Design Training at Naresh i Technologies, Hyderabad</li>
                        <li><span>2023</span><br>MCA from Patliputra University, Patna</li>
                        <li><span>2020</span><br>BCA from Magadh University, Gaya</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

